[submodule "programacion"]
	path = programacion
	url = https://github.com/manuelcespedesrguez-ux/Programacion
[submodule "marcas"]
	path = marcas
	url = https://github.com/manuelcespedesrguez-ux/Marcas
[submodule "Marcas"]
	path = Marcas
	url = https://github.com/manuelcespedesrguez-ux/Springboot
[submodule "Sistemas"]
	path = Sistemas
	url = https://github.com/manuelcespedesrguez-ux/Springboot
[submodule "ipe"]
	path = ipe
	url = https://github.com/manuelcespedesrguez-ux/IPE
[submodule "entornos"]
	path = entornos
	url = https://github.com/manuelcespedesrguez-ux/Entornos
[submodule "SistemasInfor"]
	path = SistemasInfor
	url = https://github.com/manuelcespedesrguez-ux/ShellScripting
[submodule "sostenibilidad"]
	path = sostenibilidad
	url = https://github.com/manuelcespedesrguez-ux/C
[submodule "BD"]
	path = BD
	url = https://github.com/manuelcespedesrguez-ux/Bases-de-Datos
