[submodule "programacion"]
	path = programacion
	url = https://github.com/manuelcespedesrguez-ux/Programacion
[submodule "marcas"]
	path = marcas
	url = https://github.com/manuelcespedesrguez-ux/Marcas
[submodule "Marcas"]
	path = Marcas
	url = https://github.com/manuelcespedesrguez-ux/Springboot
[submodule "Sistemas"]
	path = Sistemas
	url = https://github.com/manuelcespedesrguez-ux/Springboot
